
<div class="adminmessage">
    <h2 class="normal-title">
        Admin's message
    </h2>
    <p class="normal-text"><%=adminMessage %></p>
</div>
</div>
<footer class="barnav">
<p class="normal-text footer-text">This webpage is under construction, stay tuned for new updates.</p>
</footer>
</body>
</html>