<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Welcome</title>
    <link rel="stylesheet" href="./style.css">
    <link rel="apple-touch-icon" sizes="180x180" href="./apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="./favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="./favicon-16x16.png">
    <link rel="manifest" href="./site.webmanifest">
</head>
<body>
    <!-- Navegation Bar Section -->
    <div class="barnav">
        <h1 id="titlePage">Me</h1>
        <a href="/createablog" class="buttonnav firstbutton" >CREATE A BLOG</a>
        <a href="" class="buttonnav">SIGN IN</a>
    </div>
    <!-- Body Section -->
    <div class="container">
        <div class="listblogs">
            <h1 class="normal-title">Lastest blogs</h1>
            <ul>
                <% blogsList.forEach(element => {  %>      
                
                <li><a href="/blog_<%=element.title%>" class="normal-text"><%=element.title %></a><p class="footer-text normal-text"><%=element.date%></p></li>

                <%});%>
            </ul>
        </div>