<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Welcome</title>
    <link rel="stylesheet" href="../public/style.css">
    <link rel="apple-touch-icon" sizes="180x180" href="../public/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="../public/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="../public/favicon-16x16.png">
    <link rel="manifest" href="../public/site.webmanifest">
</head>
<body>
    <!-- Navegation Bar Section -->
    <div class="barnav">
        <h1 id="titlePage">Me</h1>
        <a href="/createablog" class="buttonnav firstbutton" >CREATE A BLOG</a>
        <a href="" class="buttonnav">SIGN IN</a>
    </div>
    <!-- Body Section -->
    <div class="container">
        <div class="listblogs">
            <h1 class="normal-title">Lastest blogs</h1>
            <ul>
                <li><a href="" class="normal-text">example</a><p class="footer-text normal-text">Creation date</p></li>
            </ul>
        </div>
        <!-- Blog Section-->
        <div class="blog">
            <h1 class="normal-title" style="margin-left:2% ;">Welcome</h1>
            <p class="normal-text">Lorem ipsum quis nibh imperdiet molestie eu, massa vehicula nunc fermentum class semper ante, sit nunc ut tempor dictum. Curabitur aliquam ad arcu mauris eros dolor torquent est, cubilia aptent bibendum metus aenean metus sapien integer, ultricies maecenas massa volutpat commodo ac non. Suspendisse pharetra semper posuere fusce diam non velit vitae leo, fames imperdiet sem leo curabitur semper arcu mauris quam, vivamus est malesuada suscipit condimentum eros sit vulputate.</p>
            <p class="normal-text"> Vehicula hac elit cras turpis amet malesuada curae, iaculis et eget commodo quam ullamcorper ut quam, praesent arcu phasellus dapibus ultricies facilisis. Aptent maecenas donec ac tincidunt ullamcorper magna habitasse blandit semper himenaeos, placerat auctor platea quis mi congue torquent luctus lobortis tristique, laoreet facilisis ornare habitasse vestibulum blandit donec aptent commodo. Praesent nunc a pulvinar placerat blandit gravida blandit sagittis dictumst lorem hendrerit, varius class molestie felis varius leo quam maecenas nunc.</p>
         
        </div>
        <div class="adminmessage">
            <h2 class="normal-title">
                Admin message
            </h2>
            <p class="normal-text">example</p>
        </div>
    </div>
    <footer class="barnav">
        <p class="normal-text footer-text">This webpage is under construction, stay tuned for new updates.</p>
    </footer>
</body>
</html>